@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    font-family:'Quicksand','Open Sans',serif;
}
.quick-icons{
    display: inline;
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}
.navbar{
    backface-visibility: hidden;
}
.quick-icons:hover{
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color:#5dbf6c;
}
#main-navbar{
    color: white;
    padding: 1em;
}
#main-navbar .navbar-brand{
    color: white;
    padding: 6px;
    transform: scale(0.5);
}
#main-navbar li{
     display: block;
}
#main-navbar li a{
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    text-decoration: none;
}
.bg {
    position: relative;
 }
 .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
.main-head{
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
    width: inherit;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 2px;
    height: 3px;
    border: 0;
    box-shadow: 0 6px -20px inset;
}
.main-head h1{
    font-weight:lighter;
    color: white;
    font-size:2.5em; 
    text-shadow: 2px 2px 2px #fff;
}
.service{
    display: inline;
}
.imgbtn{
    overflow: hidden;
    color: wheat;
    background: #555;
    margin: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 6px;
    align-content: center;
    justify-content: center;
    position: relative;
    box-shadow: 5px 5px 5px #555;
}
.card-details{
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(7, 28, 79,0.9);
    border-radius: 10px;
    overflow: hidden;
}
.fa{
    cursor: pointer;
    display: inline;
    padding: 10px;
    margin: 10px 10px;
}
.icon > a{
    color: white;
    text-decoration: none;
}
.fa:hover{
    color: #2098d1;
}
.icon{
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1 1 auto;
    flex-wrap: wrap;
    background: rgba(7, 28, 79,0.9);
}
.card-img {
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition:all 0.3s ease-in-out;
    opacity:1;
  }
.card:hover{
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.9    ;
}
.overlay{
    text-align: center;
    justify-content: center;
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.card:hover .card-img,
.card:focus .card-img {
    transform: scale(1.02);
    opacity:0.5;
}
.card:hover .overlay{
    visibility: visible;
    color: white;
}
.card:hover > .card-header{
    background: rgba(red, green, blue, 1);
    opacity: 1;
}
.navbar-toggler{
    border: 2px solid white;
    background: #ffffe6;
}
.navbar-toggler:hover{
    background: rgba(red, green, blue, 0.9);
    opacity: 0.5;
}